run_xpd.log
.DS_Store
app_example_tx/.settings/
app_example_rx/.build/
app_example_rx/bin/
app_example_tx/.build/
app_example_tx/bin/
doc/.doxygen/
doc/.linked_dirs/
doc/.sources/
doc/Doxyfile-e
doc/_build/
doc/index.pdf
module_spdif_tx/doc/_build/
module_spdif_rx/doc/_build/
*.*~
_build/
*/.build/
*/bin/
*buildinfo
\#*
__generated_module_spdif_tx_app/
app_spdif_tx_example/.settings/
app_analog_spdif_bridge_demo/.settings/
